<div class="header"></div>

<div id="matserbox">

  <div id="box1" class="box">
    <p style="margin-top: 40px;"><i class="material-icons" style="margin-right: 10px">arrow_back</i></p>
    <p style="margin-top: 5px; margin-left: 26px;"><img src="../assets/images/logo.png" alt/></p>
    <p
      style=
        "color: gray;
              font-weight: bold;
              margin-left: 30px;margin-top: 30px;font-size: 16px;
              line-height: 24px;">dddddddd}</p>
    <h1 class="legacy-profile-info-event-type-name">dddddddaadadadad</h1>
    <i class="material-icons" style="margin-right: 10px">access_time</i>arzaztetaetyazeyery

  </div>

  <div id="box2" class="box">
      <app-form></app-form>
  </div>

  <div id="box3" class="box">

  </div>

</div>

<div class="footer"></div>
